<MarketplaceDetails>
  <SmallAppTile>TilePic99.png</SmallAppTile>
  <LargeAppTile>TilePic173.png</LargeAppTile>
  <PCAppTile>TilePic200.png</PCAppTile>
  <ScreenShots>MainPage.png;ReadPost.png;main8.png;;;;;;</ScreenShots>
  <ScreenShotsWXGA>;;;;;;;;</ScreenShotsWXGA>
  <ScreenShots720P>;;;;;;;;</ScreenShots720P>
</MarketplaceDetails>